<div class="container">
  <header class="header">
    <h1>
      Paul Watts
    </h1>
  </header>
  <div class="content">
    <div class="content-row-container">
      <div class="content-row">
        <ContentCol @href="https://nfn.analytics.nasdaq.com" @icon="coffee">
          Work
        </ContentCol>
        <ContentCol @href="https://github.com/paulcwatts" @icon="github">
          Code
        </ContentCol>
        <ContentCol
          @href="https://www.linkedin.com/in/paulcwatts/"
          @icon="linkedin"
        >
          History
        </ContentCol>
      </div>
    </div>
  </div>
  <footer class="footer">
    &copy; 2020 Paul Watts.
  </footer>
</div>